<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catagory</title>
  </head>
  <body>
    <h1><%=name%> Menu</h1>
    <%- include('./partials/nav') %>

    <ul>
      <% menuitems.forEach(item => { %>

      <li>
        <%= item.name%>, $<%= item.price %> - <%= item.rating %> stars
        <ul>
          <li><%= item.details %></li>
        </ul>
      </li>

      <% }) %>
    </ul>
  </body>
</html>
