<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1>Full Menu</h1>

    <h2>Mains</h2>
    <ul>
      <% fullMenu.forEach(item => { %> <% if (item.category === "mains") { %>
      <li>
        <% if (item.rating === 5) { %> &#x2B50; <% } %> <%= item.name %>,
        $<%=item.price %> - <%= item.rating %> stars
        <ul>
          <li><%= item.details %></li>
        </ul>
      </li>
      <% } }) %>
    </ul>

    <h2>Sides</h2>
    <ul>
      <% fullMenu.forEach(item => { %> <% if (item.category === "sides") { %>
      <li>
        <% if (item.rating === 5) { %> &#x2B50; <% } %> <%= item.name %>,
        $<%=item.price %> - <%= item.rating %> stars
        <ul>
          <li><%= item.details %></li>
        </ul>
      </li>
      <% }}) %>
    </ul>

    <h2>Desserts</h2>
    <ul>
      <% fullMenu.forEach(item => { %> <% if (item.category === "desserts") { %>
      <li>
        <% if (item.rating === 5) { %> &#x2B50; <% } %> <%= item.name %>,
        $<%=item.price %> - <%= item.rating %> stars
        <ul>
          <li><%= item.details %></li>
        </ul>
      </li>
      <% }}) %>
    </ul>
  </body>
</html>
